@font-face {
  font-family: 'Droid Serif';
  font-weight: 400;
  font-style: normal;
  src: url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-regular/Droid-Serif-regular.eot');
  src: url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-regular/Droid-Serif-regular.eot?#iefix') format('embedded-opentype'),
       local('Droid Serif'),
       local('Droid-Serif-regular'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-regular/Droid-Serif-regular.woff2') format('woff2'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-regular/Droid-Serif-regular.woff') format('woff'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-regular/Droid-Serif-regular.ttf') format('truetype'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-regular/Droid-Serif-regular.svg#DroidSerif') format('svg');
}

@font-face {
  font-family: 'Droid Serif';
  font-weight: 700;
  font-style: normal;
  src: url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-700/Droid-Serif-700.eot');
  src: url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-700/Droid-Serif-700.eot?#iefix') format('embedded-opentype'),
       local('Droid Serif Bold'),
       local('Droid-Serif-700'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-700/Droid-Serif-700.woff2') format('woff2'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-700/Droid-Serif-700.woff') format('woff'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-700/Droid-Serif-700.ttf') format('truetype'),
       url('/Assets/fonts/Droid-Serif/fonts/Droid-Serif-700/Droid-Serif-700.svg#DroidSerif') format('svg');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('/Assets/fonts/Roboto/fonts/Roboto-100/Roboto-100.eot');
  src: url('/Assets/fonts/Roboto/fonts/Roboto-100/Roboto-100.eot?#iefix') format('embedded-opentype'),
       local('Roboto Thin'),
       local('Roboto-100'),
       url('/Assets/fonts/Roboto/fonts/Roboto-100/Roboto-100.woff2') format('woff2'),
       url('/Assets/fonts/Roboto/fonts/Roboto-100/Roboto-100.woff') format('woff'),
       url('/Assets/fonts/Roboto/fonts/Roboto-100/Roboto-100.ttf') format('truetype'),
       url('/Assets/fonts/Roboto/fonts/Roboto-100/Roboto-100.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/Assets/fonts/Roboto/fonts/Roboto-300/Roboto-300.eot');
  src: url('/Assets/fonts/Roboto/fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('/Assets/fonts/Roboto/fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('/Assets/fonts/Roboto/fonts/Roboto-300/Roboto-300.woff') format('woff'),
       url('/Assets/fonts/Roboto/fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('/Assets/fonts/Roboto/fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/Assets/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.eot');
  src: url('/Assets/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('/Assets/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('/Assets/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('/Assets/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('/Assets/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('/Assets/fonts/Roboto/fonts/Roboto-500/Roboto-500.eot');
  src: url('/Assets/fonts/Roboto/fonts/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('/Assets/fonts/Roboto/fonts/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('/Assets/fonts/Roboto/fonts/Roboto-500/Roboto-500.woff') format('woff'),
       url('/Assets/fonts/Roboto/fonts/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('/Assets/fonts/Roboto/fonts/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/Assets/fonts/Roboto/fonts/Roboto-700/Roboto-700.eot');
  src: url('/Assets/fonts/Roboto/fonts/Roboto-700/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('/Assets/fonts/Roboto/fonts/Roboto-700/Roboto-700.woff2') format('woff2'),
       url('/Assets/fonts/Roboto/fonts/Roboto-700/Roboto-700.woff') format('woff'),
       url('/Assets/fonts/Roboto/fonts/Roboto-700/Roboto-700.ttf') format('truetype'),
       url('/Assets/fonts/Roboto/fonts/Roboto-700/Roboto-700.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('/Assets/fonts/Roboto/fonts/Roboto-900/Roboto-900.eot');
  src: url('/Assets/fonts/Roboto/fonts/Roboto-900/Roboto-900.eot?#iefix') format('embedded-opentype'),
       local('Roboto Black'),
       local('Roboto-900'),
       url('/Assets/fonts/Roboto/fonts/Roboto-900/Roboto-900.woff2') format('woff2'),
       url('/Assets/fonts/Roboto/fonts/Roboto-900/Roboto-900.woff') format('woff'),
       url('/Assets/fonts/Roboto/fonts/Roboto-900/Roboto-900.ttf') format('truetype'),
       url('/Assets/fonts/Roboto/fonts/Roboto-900/Roboto-900.svg#Roboto') format('svg');
}


@charset "UTF-8";
html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  clear: both;
  height: 100%;
}

body, html {
  min-width: 375px;
  min-height: 100vh;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 962px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row.no-padding {
  margin-left: 0;
  margin-right: 0;
}

.row.no-padding > .col-12, .row.no-padding > .col-11, .row.no-padding > .col-10, .row.no-padding > .col-9, .row.no-padding > .col-8, .row.no-padding > .col-7, .row.no-padding > .col-6, .row.no-padding > .col-5, .row.no-padding > .col-4, .row.no-padding > .col-3, .row.no-padding > .col-2, .row.no-padding > .col-1 {
  padding-left: 0;
  padding-right: 0;
}

.row.no-padding > .col-sm-12, .row.no-padding > .col-sm-11, .row.no-padding > .col-sm-10, .row.no-padding > .col-sm-9, .row.no-padding > .col-sm-8, .row.no-padding > .col-sm-7, .row.no-padding > .col-sm-6, .row.no-padding > .col-sm-5, .row.no-padding > .col-sm-4, .row.no-padding > .col-sm-3, .row.no-padding > .col-sm-2, .row.no-padding > .col-sm-1, .row.no-padding > .col-md-12, .row.no-padding > .col-md-11, .row.no-padding > .col-md-10, .row.no-padding > .col-md-9, .row.no-padding > .col-md-8, .row.no-padding > .col-md-7, .row.no-padding > .col-md-6, .row.no-padding > .col-md-5, .row.no-padding > .col-md-4, .row.no-padding > .col-md-3, .row.no-padding > .col-md-2, .row.no-padding > .col-md-1, .row.no-padding > .col-lg-12, .row.no-padding > .col-lg-11, .row.no-padding > .col-lg-10, .row.no-padding > .col-lg-9, .row.no-padding > .col-lg-8, .row.no-padding > .col-lg-7, .row.no-padding > .col-lg-6, .row.no-padding > .col-lg-5, .row.no-padding > .col-lg-4, .row.no-padding > .col-lg-3, .row.no-padding > .col-lg-2, .row.no-padding > .col-lg-1, .row.no-padding > .col-xl-12, .row.no-padding > .col-xl-11, .row.no-padding > .col-xl-10, .row.no-padding > .col-xl-9, .row.no-padding > .col-xl-8, .row.no-padding > .col-xl-7, .row.no-padding > .col-xl-6, .row.no-padding > .col-xl-5, .row.no-padding > .col-xl-4, .row.no-padding > .col-xl-3, .row.no-padding > .col-xl-2, .row.no-padding > .col-xl-1 {
  padding-left: 0;
  padding-right: 0;
}

.row:before, .row:after {
  display: table;
  content: " ";
  clear: both;
}

.col-1 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-1 {
    float: left;
    width: 100%;
    position: relative;
  }
}

.col-2 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-2 {
    float: left;
    width: 50%;
    position: relative;
  }
}

.col-3 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-3 {
    float: left;
    width: 33.33333%;
    position: relative;
  }
}

.col-4 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-4 {
    float: left;
    width: 25%;
    position: relative;
  }
}

.col-5 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-5 {
    float: left;
    width: 20%;
    position: relative;
  }
}

.col-6 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-6 {
    float: left;
    width: 16.66667%;
    position: relative;
  }
}

.col-7 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-7 {
    float: left;
    width: 14.28571%;
    position: relative;
  }
}

.col-8 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-8 {
    float: left;
    width: 12.5%;
    position: relative;
  }
}

.col-9 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-9 {
    float: left;
    width: 11.11111%;
    position: relative;
  }
}

.col-10 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-10 {
    float: left;
    width: 10%;
    position: relative;
  }
}

.col-11 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-11 {
    float: left;
    width: 9.09091%;
    position: relative;
  }
}

.col-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 0) {
  .col-12 {
    float: left;
    width: 8.33333%;
    position: relative;
  }
}

.col-sm-1 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-1 {
    float: left;
    width: 100%;
    position: relative;
  }
}

.col-sm-2 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-2 {
    float: left;
    width: 50%;
    position: relative;
  }
}

.col-sm-3 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-3 {
    float: left;
    width: 33.33333%;
    position: relative;
  }
}

.col-sm-4 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-4 {
    float: left;
    width: 25%;
    position: relative;
  }
}

.col-sm-5 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-5 {
    float: left;
    width: 20%;
    position: relative;
  }
}

.col-sm-6 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-6 {
    float: left;
    width: 16.66667%;
    position: relative;
  }
}

.col-sm-7 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-7 {
    float: left;
    width: 14.28571%;
    position: relative;
  }
}

.col-sm-8 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-8 {
    float: left;
    width: 12.5%;
    position: relative;
  }
}

.col-sm-9 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-9 {
    float: left;
    width: 11.11111%;
    position: relative;
  }
}

.col-sm-10 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-10 {
    float: left;
    width: 10%;
    position: relative;
  }
}

.col-sm-11 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-11 {
    float: left;
    width: 9.09091%;
    position: relative;
  }
}

.col-sm-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 375px) {
  .col-sm-12 {
    float: left;
    width: 8.33333%;
    position: relative;
  }
}

.col-md-1 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 100%;
    position: relative;
  }
}

.col-md-2 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-2 {
    float: left;
    width: 50%;
    position: relative;
  }
}

.col-md-3 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-3 {
    float: left;
    width: 33.33333%;
    position: relative;
  }
}

.col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-4 {
    float: left;
    width: 25%;
    position: relative;
  }
}

.col-md-5 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-5 {
    float: left;
    width: 20%;
    position: relative;
  }
}

.col-md-6 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    float: left;
    width: 16.66667%;
    position: relative;
  }
}

.col-md-7 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-7 {
    float: left;
    width: 14.28571%;
    position: relative;
  }
}

.col-md-8 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-8 {
    float: left;
    width: 12.5%;
    position: relative;
  }
}

.col-md-9 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-9 {
    float: left;
    width: 11.11111%;
    position: relative;
  }
}

.col-md-10 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-10 {
    float: left;
    width: 10%;
    position: relative;
  }
}

.col-md-11 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-11 {
    float: left;
    width: 9.09091%;
    position: relative;
  }
}

.col-md-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-md-12 {
    float: left;
    width: 8.33333%;
    position: relative;
  }
}

.col-lg-1 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 100%;
    position: relative;
  }
}

.col-lg-2 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-2 {
    float: left;
    width: 50%;
    position: relative;
  }
}

.col-lg-3 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
    width: 33.33333%;
    position: relative;
  }
}

.col-lg-4 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 25%;
    position: relative;
  }
}

.col-lg-5 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-5 {
    float: left;
    width: 20%;
    position: relative;
  }
}

.col-lg-6 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-6 {
    float: left;
    width: 16.66667%;
    position: relative;
  }
}

.col-lg-7 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-7 {
    float: left;
    width: 14.28571%;
    position: relative;
  }
}

.col-lg-8 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-8 {
    float: left;
    width: 12.5%;
    position: relative;
  }
}

.col-lg-9 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-9 {
    float: left;
    width: 11.11111%;
    position: relative;
  }
}

.col-lg-10 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-10 {
    float: left;
    width: 10%;
    position: relative;
  }
}

.col-lg-11 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-11 {
    float: left;
    width: 9.09091%;
    position: relative;
  }
}

.col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-lg-12 {
    float: left;
    width: 8.33333%;
    position: relative;
  }
}

.col-xl-1 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 100%;
    position: relative;
  }
}

.col-xl-2 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-2 {
    float: left;
    width: 50%;
    position: relative;
  }
}

.col-xl-3 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-3 {
    float: left;
    width: 33.33333%;
    position: relative;
  }
}

.col-xl-4 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-4 {
    float: left;
    width: 25%;
    position: relative;
  }
}

.col-xl-5 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-5 {
    float: left;
    width: 20%;
    position: relative;
  }
}

.col-xl-6 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-6 {
    float: left;
    width: 16.66667%;
    position: relative;
  }
}

.col-xl-7 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-7 {
    float: left;
    width: 14.28571%;
    position: relative;
  }
}

.col-xl-8 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-8 {
    float: left;
    width: 12.5%;
    position: relative;
  }
}

.col-xl-9 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-9 {
    float: left;
    width: 11.11111%;
    position: relative;
  }
}

.col-xl-10 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-10 {
    float: left;
    width: 10%;
    position: relative;
  }
}

.col-xl-11 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-11 {
    float: left;
    width: 9.09091%;
    position: relative;
  }
}

.col-xl-12 {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .col-xl-12 {
    float: left;
    width: 8.33333%;
    position: relative;
  }
}

@media (max-width: 1199px) {
  .hidden-xl {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-md {
    display: none !important;
  }
}

@media (max-width: 374px) {
  .hidden-sm {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

@media (min-width: 1200px) {
  .visible-xl {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .visible-lg {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-md {
    display: none !important;
  }
}

@media (min-width: 375px) {
  .visible-sm {
    display: none !important;
  }
}

.flex-row {
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  clear: both;
}

.flex-row .contaner:before, .flex-row .container:after, .flex-row .row:before, .flex-row .row:after {
  content: normal;
}

.flex-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.flex-column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  clear: both;
  height: 100%;
}

.flex-column_bottom {
  margin-top: auto;
}

.flex-1 {
  flex: 1;
}

body {
  margin: 0;
  font-size: 18px;
  background-color: #F6F8F7;
  color: #060606;
  font-weight: 400;
  font-family: 'Droid Serif', serif;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

main {
  flex: 1;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, th, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2, .h2 {
  margin-top: 0;
}

h3, .h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin: 0 0 1em;
}

a {
  transition: all .15s;
  text-decoration: none;
  color: #E8175D;
}

a:hover, a:focus {
  color: #060606;
}

.primary-bg {
  background-color: #8dccc1;
}

.list-inline {
  list-style: none;
  margin: 0 -3px;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  padding-right: 3px;
  padding-left: 3px;
}

.responsive-table {
  width: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 0;
  border-left: 1px solid #F6F8F7;
  border-right: 2px solid #F6F8F7;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: rgba(141, 204, 193, 0.6);
  border-bottom: 2px solid #F6F8F7;
}

table td {
  background-color: rgba(141, 204, 193, 0.3);
}

table tr:nth-of-type(2n) td {
  background-color: rgba(141, 204, 193, 0.1);
}

.divider {
  width: 30px;
  height: 6px;
  background-color: #E8175D;
  margin: 25px 0;
}

.brand {
  font-size: 1em;
  font-family: 'Droid Serif', serif;
  text-decoration: none;
  margin: 0;
  font-style: italic;
  font-weight: 700;
}

header {
  position: fixed;
  padding: 10px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #1e1e1e;
  transition: all .2s;
  height: 45px;
}

header > .container {
  height: 100%;
}

header.scrolled {
  background-color: #060606;
  border-bottom: 1px solid #060606;
  color: #fff;
  padding: 5px 0;
  height: 35px;
}

header.scrolled h1 a, header.scrolled nav a:hover, header.scrolled nav a:focus {
  color: #F6F8F7;
}

header h1 {
  float: left;
}

header h1 a {
  color: #060606;
}

header h1 a:hover, header h1 a:focus {
  color: #E8175D;
}

header nav {
  float: right;
  font-size: .75em;
  font-family: 'Roboto', sans-serif;
}

.header-padding {
  height: 45px;
}

.content-block {
  padding: 30px;
  border: 1px solid #1e1e1e;
}

.content-block h4 {
  margin-top: 0;
}

.car-tile {
  display: block;
  text-decoration: none;
  height: 100%;
  color: #F6F8F7;
  background-color: #060606;
  transition: all .3s;
}

.car-tile:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 6, 6, 0.72);
  background: linear-gradient(to top, rgba(6, 6, 6, 0.8) 0, rgba(6, 6, 6, 0.72) 15%, rgba(6, 6, 6, 0) 100%);
  transition: all .3s;
  mix-blend-mode: multiply;
}

.car-tile .tile-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 12px 95px 12px 15px;
  z-index: 20;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.car-tile .tile-content p {
  margin: 0;
}

.car-tile .tile-content h3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .car-tile .tile-content h3 {
    font-size: 1.15em;
  }
}

@media (max-width: 767px) {
  .car-tile .tile-content h3 {
    font-size: 1em;
  }
}

.car-tile img {
  width: 100%;
  display: block;
}

.car-tile .btn {
  position: absolute;
  padding: 10px 15px 8px;
  bottom: 12px;
  right: 12px;
}

.car-tile:hover, .car-tile:focus {
  color: #F6F8F7;
}

.car-tile:hover:after, .car-tile:focus:after {
  opacity: .65;
}

.car-tile:hover .btn, .car-tile:focus .btn {
  background-color: #F6F8F7;
  border-color: #F6F8F7;
  color: #060606;
  transition: all .3s;
}

.hero-banner {
  min-height: 250px;
  padding: 75px 0 30px;
}

@media (min-width: 768px) {
  .hero-banner {
    min-height: 400px;
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .hero-banner {
    min-height: 450px;
    padding: 90px 0;
  }
}

.hero-banner P {
  margin: 0;
}

.headline-banner {
  padding: 5px 0 30px;
}

@media (min-width: 768px) {
  .headline-banner {
    padding: 35px 0 60px;
  }
}

.headline-banner P {
  margin: 0 0 5px;
  max-width: 500px;
}

.banner-image {
  width: 100%;
  position: relative;
  display: block;
}

.banner-image img {
  width: 100%;
  display: block;
}

.banner-image .image-reference {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .6em;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.banner-image:hover .image-reference, .banner-image:focus .image-reference {
  color: #fff;
}

.banner {
  padding: 30px 0;
}

@media (min-width: 768px) {
  .banner {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  .banner {
    padding: 90px 0;
  }
}

.quote-banner {
  padding: 60px 0 30px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .quote-banner {
    padding: 90px 0 60px;
  }
}

blockquote {
  margin: 0;
  padding-left: 20px;
  line-height: 1.2;
  border-left: 6px solid #E8175D;
  letter-spacing: .5px;
  position: relative;
}

blockquote:before {
  content: "";
  font-size: 475px;
  color: rgba(30, 30, 30, 0.1);
  position: absolute;
  background-image: url("/Assets/img/OpenQuote.svg");
  background-size: contain;
  background-repeat: no-repeat;
  left: 5px;
  top: -60px;
  z-index: -1;
  width: 180px;
  height: 180px;
  opacity: .25;
}

.author {
  font-size: .8em;
  color: #1e1e1e;
  margin-top: 10px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.author .publication {
  font-size: .8em;
  display: block;
  font-weight: 300;
}

.bread {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color: rgba(6, 6, 6, 0.8);
  margin: 8px 0 0;
}

.bread li {
  padding-left: 0;
}

.bread li:after {
  content: '/';
  display: inline-block;
  margin-left: 6px;
}

.bread li:last-child:after {
  content: normal;
}

footer {
  padding: 10px 0;
  background-color: #1e1e1e;
  font-size: 18px;
  margin-top: auto;
  font-family: 'Roboto', sans-serif;
  color: #cbcbcb;
}

footer .brand {
  color: #F6F8F7;
}

footer nav {
  font-weight: 300;
  font-size: .8em;
  text-align: center;
}

footer nav a {
  color: #cbcbcb;
  display: block;
}

footer nav a:hover, footer nav a:focus {
  color: #8dccc1;
}

footer a {
  color: #8dccc1;
}

footer a:hover, footer a:focus {
  color: #F6F8F7;
}

footer .developer-link {
  font-size: .8em;
  text-align: center;
  font-weight: 300;
}

.btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: .75em;
  font-weight: 800;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 15px 10px;
  border: 1px solid #F6F8F7;
  position: relative;
  transition: all .15s;
  cursor: pointer;
}

.btn .btn-arrow {
  font-size: 1em;
  padding: 12px 15px 10px;
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 100%;
  transition: all .15s;
  border: 1px solid #F6F8F7;
}

.btn .btn-arrow:after {
  content: '🡲';
}

.btn-grey {
  color: #060606;
  border-color: #060606;
  background-color: transparent;
}

.btn-grey .btn-arrow {
  border-color: #060606;
}

.btn-grey:hover .btn-arrow, .btn-grey:focus .btn-arrow {
  background-color: #060606;
  color: #F6F8F7;
}

.suggest-banner {
  margin-top: auto;
}

.suggestion-form {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .suggestion-form {
    margin-top: 60px;
  }
}

.related-cars .row {
  background-color: #060606;
}

.related-cars h5 {
  margin: 0;
  display: block;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
  line-height: .7;
  color: rgba(0, 0, 0, 0.2);
}

.input-group {
  margin-bottom: 30px;
}

.input-group label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  color: #1e1e1e;
  color: rgba(30, 30, 30, 0.8);
  margin-bottom: 10px;
}

.input-group input, .input-group textarea {
  width: 100%;
  color: #1e1e1e;
  border: 0;
  font-size: 1em;
  border: 1px solid #1e1e1e;
  padding: 10px;
  transition: all .15s;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

.input-group input:hover, .input-group textarea:hover {
  border-color: #a00e3f;
}

.input-group input:focus, .input-group textarea:focus {
  border-color: #E8175D;
  box-shadow: 0 0 3px rgba(232, 23, 93, 0.1);
}

.input-group textarea {
  min-height: 150px;
}

.right-arrow:after {
  font-size: 1.32em;
  content: '🡲';
  font-style: normal;
  display: inline-block;
}
