$gutter: 15px;
$num_columns: 3;

$bp-s: 420px;
$bp-s-max: max-width ($bp-s - 1);
$bp-m: 768px;
$bp-m-max: max-width ($bp-m - 1);
$bp-l: 992px;
$bp-l-max: max-width ($bp-l - 1);
$bp-xl: 1200px;
$bp-xl-max: max-width ($bp-xl - 1);

main {
    display: block;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@function width($num) {
    @return 100% / $num;
}

@mixin col($num) {
    float: left;
    width: width($num);
    position: relative;
}

@mixin allcol($media) {
    @for $i from 2 through $num_columns {
        &-#{$i} {
            padding-left: $gutter;
            padding-right: $gutter;

            @include breakpoint($media) {
                @include col($i);
            }
        }
    }
}

.container {
    padding-left: $gutter;
    padding-right: $gutter;
    margin: 0 auto;
    width: 100%;

    @include breakpoint($bp-m) {
        max-width: $bp-m - (2 * $gutter);
    }

    @include breakpoint($bp-l) {
        max-width: $bp-l - (2 * $gutter);
    }

    @include breakpoint($bp-xl) {
        max-width: $bp-xl - (2 * $gutter);
    }
}

@mixin nopadding {
    @for $i from 2 through $num_columns {
        &-#{$i} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.row {
    margin-left: -$gutter;
    margin-right: -$gutter;

    &.no-padding {
        margin-left: 0;
        margin-right: 0;

        > .col {
           &, &-sm, &-md {
                @include nopadding;
            }
        }
    }

    &:before, &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.col {
    @include allcol(0);
}

.col-sm {
    @include allcol($bp-s);
}

.col-md {
    @include allcol($bp-m);
}

.flex {
    &-row {
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        clear: both;


        &:before, &:after {
            display: table;
            content: " ";
            clear: both;
        }
    }

    &-center {
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        clear: both;
        align-items: center;
        height: 100%;
    }

    &-column {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        clear: both;
        height: 100%;

        &_bottom {
            margin-top: auto;
        }
    }

    &-1 {
        flex: 1;
    }
}
