$black: #000;
$grey: #060606;
$lt-grey: #1e1e1e;
$accent-color: #E8175D;
$primary-color: #8dccc1;
$white: #F6F8F7;

$header-height: 45px;

$banner-padding: 90px;
$banner-padding-tablet: 60px;
$banner-padding-mobile: 30px;

@mixin bodyFont() {
    font-family: 'Droid Serif', serif;
}

@mixin headingFont() {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-size: 18px;
    background-color: $white;
    color: $grey;
    font-weight: 400;
    line-height: 1.5;
    @include bodyFont();

    @include breakpoint($bp-m) {
        font-size: 20px;
    }
}

main {
    flex: 1;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, th, label {
    @include headingFont();
    font-weight: 700;
}

h2, .h2 {
    margin-top: 0;
    margin-bottom: .6em;
}

h3, .h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 0;
}

p {
    margin: 0 0 1em;
}

a {
    transition: all .15s;
    text-decoration: none;
    color: $accent-color;

    &:hover, &:focus {
        color: $grey;
    }
}

ul {
    padding-left: 25px;
}

.primary-bg {
    background-color: $primary-color;
}


.list-inline {
    list-style: none;
    margin: 0 -3px;
    padding: 0;

    li {
        display: inline-block;
        padding-right: 3px;
        padding-left: 3px;
    }
}

.responsive-table {
    width: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        border: 0;
        border-left: 1px solid $white;
        border-right: 2px solid $white;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: rgba($primary-color, .6);
        border-bottom: 2px solid $white;
    }

    td {
        background-color: rgba($primary-color, .3);
    }

    tr:nth-of-type(2n) td {
        background-color: rgba($primary-color, .1);
    }
}

.divider {
    width: 30px;
    height: 6px;
    background-color: $accent-color;
    margin: 25px 0;
}

.brand {
    font-size: 1em;
    @include bodyFont();
    text-decoration: none;
    margin: 0;
    font-style: italic;
    font-weight: 700;
}

header {
    position: fixed;
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid $lt-grey;
    transition: all .2s;
    height: $header-height;

    > .container {
        height: 100%;
    }

    &.scrolled {
        background-color: $grey;
        border-bottom: 1px solid $grey;
        color: #fff;
        padding: 5px 0;
        height: $header-height - 10px;

        h1 a, nav a:hover, nav a:focus {
            color: $white;
        }
    }

    h1 {
        float: left;

        a {
            color: $grey;

            &:hover, &:focus {
                color: $accent-color;
            }
        }
    }

    nav {
        float: right;
        font-size: .75em;
        @include headingFont();
    }
}

.header-padding {
    height: 45px;
}

.content-block {
    padding: 30px;
    border: 1px solid $lt-grey;

    h4 {
        margin-top: 0;
    }
}

.car-tile {
    display: block;
    text-decoration: none;
    height: 100%;
    color: $white;
    background-color: $grey;
    transition: all .3s;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($grey, .72);
        background: linear-gradient(to top, rgba($grey, .8) 0, rgba($grey, .72) 15%, rgba($grey, 0) 100%);
        transition: all .3s;
        mix-blend-mode: multiply;
    }

    .tile-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding: 12px 95px 12px 15px;
        z-index: 20;
        text-shadow: 0 0 12px rgba(0, 0, 0, .25);

        p {
            margin: 0;
        }

        h3 {
            margin: 0;

            @include breakpoint($bp-xl-max) {
                font-size: 1.15em;
            }

            @include breakpoint($bp-m-max) {
                font-size: 1em;
            }
        }
    }

    img {
        width: 100%;
        display: block;
    }

    .btn {
        position: absolute;
        padding: 10px 15px 8px;
        bottom: 12px;
        right: 12px;
    }

    &:hover, &:focus {
        color: $white;

        &:after {
            opacity: .65;
        }

        .btn {
            background-color: $white;
            border-color: $white;
            color: $grey;
            transition: all .3s;
        }
    }
}

.hero-banner {
    min-height: 250px;
    line-height: 1.2;
    padding: ($header-height + $banner-padding-mobile) 0 $banner-padding-mobile;

    @include breakpoint($bp-m) {
        min-height: 400px;
        padding: $banner-padding-tablet 0;
    }

    @include breakpoint($bp-l) {
        min-height: 450px;
        padding: $banner-padding 0;
    }

    P {
        margin: 0;
    }
}

.headline-banner {
    padding: ($banner-padding-mobile - 25px) 0 $banner-padding-mobile;
    line-height: 1.2;

    @include breakpoint($bp-m) {
        padding: ($banner-padding-tablet - 25px) 0 $banner-padding-tablet;
    }

    P {
        margin: 0 0 5px;
        max-width: 500px;
    }
}

.banner-image {
    width: 100%;
    position: relative;
    display: block;

    img {
        width: 100%;
        display: block;
    }

    .image-reference {
        display: block;
        color: rgba(#fff, .8);
        transition: all .15s;
        text-shadow: 0 0 4px rgba(0, 0, 0, .2);
        text-decoration: none;
        @include headingFont();
        font-weight: 300;
        font-size: .6em;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    &:hover, &:focus {
        .image-reference {
            color: #fff;
        }
    }
}

.banner {
    padding: $banner-padding-mobile 0;

    @include breakpoint($bp-m) {
        padding: $banner-padding-tablet 0;
    }

    @include breakpoint($bp-l) {
        padding: $banner-padding 0;
    }
}

.quote-banner {
    padding: $banner-padding-tablet 0 $banner-padding-mobile;
    overflow: hidden;

    @include breakpoint($bp-m) {
        padding: $banner-padding 0 $banner-padding-tablet;
    }
}

blockquote {
    margin: 0;
    padding-left: 20px;
    line-height: 1.5;
    border-left: 6px solid $accent-color;
    letter-spacing: .5px;
    position: relative;

    &:before {
        content: "";
        font-size: 475px;
        color: rgba($lt-grey, .1);
        position: absolute;
        background-image: url('/Assets/img/OpenQuote.svg');
        background-size: contain;
        background-repeat: no-repeat;
        left: 5px;
        top: -60px;
        z-index: -1;
        width: 180px;
        height: 180px;
        opacity: .25;
    }

    div {
        overflow: hidden;

        > .author {
            float: left;
        }
    }

    a {
        float: right;
        display: block;
        font-size: .8em;
        font-weight: 300;
        @include headingFont();
    }
}

.author {
    font-size: .8em;
    color: $lt-grey;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    @include headingFont();

    .publication {
        font-size: .8em;
        display: block;
        font-weight: 300;
    }
}

.bread {
    @include headingFont();
    font-size: .8em;
    color: rgba($grey, .8);
    margin: 12px 0 0;

    li {
        padding-left: 0;

        &:after {
            content: '/';
            display: inline-block;
            margin-left: 6px;
        }

        &:last-child:after {
            content: normal;
        }
    }
}

footer {
    padding: 10px 0;
    background-color: $lt-grey;
    font-size: 18px;
    margin-top: auto;
    @include headingFont();
    color: #cbcbcb;

    .brand {
        color: $white;
        display: block;
        text-align:center;
    }

    nav {
        font-weight: 300;
        font-size: .8em;
        text-align: center;

        a {
            color: #cbcbcb;
            display: block;

            &:hover, &:focus {
                color: $primary-color;
            }
        }
    }

    a {
        color: $primary-color;

        &:hover, &:focus {
            color: $white;
        }
    }


    .developer-link {
        font-size: .8em;
        text-align: center;
        font-weight: 300;
    }
}

.btn {
    display: inline-block;
    @include headingFont();
    font-size: .75em;
    font-weight: 800;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 15px 10px;
    border: 1px solid $white;
    position: relative;
    transition: all .15s;
    cursor: pointer;

    .btn-arrow {
        font-size: 1em;
        padding: 12px 15px 10px;
        display: inline-block;
        position: absolute;
        top: -1px;
        left: 100%;
        transition: all .15s;
        border: 1px solid $white;

        &:after {
            content: '🡲';
        }
    }

    &-grey {
        color: $grey;
        border-color: $grey;
        background-color: transparent;

        .btn-arrow {
            border-color: $grey;
        }

        &:hover, &:focus {

            .btn-arrow {
                background-color: $grey;
                color: $white;
            }
        }
    }
}

.suggest-banner {
    margin-top: auto;
}

.suggestion-form {
    margin-top: $banner-padding-mobile;


    @include breakpoint($bp-m) {
        margin-top: $banner-padding-tablet;
    }
}

.related-cars {
    .row {
        background-color: $grey;
    }

    h5 {
        margin: 0;
        display: block;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 900;
        line-height: .7;
        color: rgba($black, .2);
    }
}

.input-group {
    margin-bottom: $banner-padding-mobile;

    label {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .8em;
        color: $lt-grey;
        color: rgba($lt-grey, .8);
        margin-bottom: 10px;
    }

    input, textarea {
        width: 100%;
        color: $lt-grey;
        border: 0;
        font-size: 1em;
        border: 1px solid $lt-grey;
        padding: 10px;
        transition: all .15s;
        outline: 0;
        @include headingFont();

        &:hover {
            border-color: #a00e3f;
        }

        &:focus {
            border-color: $accent-color;
            box-shadow: 0 0 3px rgba($accent-color, .1);
        }
    }

    textarea {
        min-height: 150px;
    }
}

.right-arrow:after {
    font-size: 1.32em;
    content: '🡲';
    font-style: normal;
    display: inline-block;
}
